# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer"

## You MAY edit the following:
sv_licenseKey "wz8ps0jse7fahvn2930lk7vih31ijx56"
sv_hostname "CityRpColombia built with CFX Default by Tabarra!"
sets sv_projectName "[CFX Default] CityRpColombia"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets locale "root-AQ" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1976695 group.admin

## Maps ##
start mymode
start example-loadscreen
start mapVillaIsland
start mapHospital
start mapPoliceStation

## server ##
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

## mysql ##
set mysql_connection_string "server=127.0.0.1;database=cityrpcolombia;userid=root;"

start mysql-async
start essentialmode
start esplugin_mysql
start es_admin
